.cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 10px;
  }
  
  .card {
    width: 100%;
  }
  
  .right {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  
  .left {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  