.App {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.descriptionHome {
    margin-left: 2rem;
}

.photoHome {
    border-radius: 50%;
    height: auto;
    width: 20vw;
    max-width: 400px;
    min-width: 15rem;
}

.photoHome:hover {
    width: 35vw;
    min-width: 20rem;
}
.homeLinks {
    text-align: center;
}

@media (max-width: 601px) {
    .portfolioHome {
        flex-direction: column;
    }

    .descriptionHome{
        margin-left: 0;
        margin-top: 2rem;
    }
}

/* Footer */
.footer {
    margin-top: auto;
}

.footer p {
    text-align: center;
    font-weight: 600;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    margin: 0;
}

