/* Main Parent Container */
* {
  font-family: "Inter";
  background-color: #121212;
  color: white
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3vw;
  }
  
  /* PAGES */
  /* HOME PAGE */
  .home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    flex-grow: 1; /* Allow the .home section to grow and occupy remaining space */
  }
  
  .portfolioHome {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .descriptionHome {
    margin-left: 2rem;
    transition: transform 300ms;
    position: relative;
  }
  
.descriptionHome h3, .descriptionHome p, .descriptionHome a, .homeLinks {
  background-color: white;
  color: black;
}

  .homeLinks a {
    text-decoration: none;
    color: black;
    margin: 0 1rem;
    font-weight: 700;
    
  }

  .photoHome {
    border-radius: 50%;
    height: auto;
    width: 15vw;
    max-width: 400px;
    min-width: 15rem;
    margin-right: 2rem;
    transition: transform 300ms;
    position: relative;
    z-index: 1;
  }
  
  /* Hover Effect to have the avatar in the photo to come out from the container */
  .photoHome:hover {
    transform: scale(1.2);
  }
  
  .photoHome:hover ~ .descriptionHome {
    transform: translateX(5rem);
  }
  
  .homeLinks {
    text-align: center;
  }
  
  /* Adding responsiveness to the webpage */
  @media (max-width: 850px) {
    .portfolioHome {
      flex-direction: column;
    }
  
    .descriptionHome {
      margin-left: 0;
      margin-top: 2rem;
    }
  
    .photoHome {
      margin-right: 0;
    }
  
    .photoHome:hover {
      transform: scale(1.1);
    }
  
    .photoHome:hover ~ .descriptionHome {
      transform: translateY(3rem); /* Adjust the value as needed */
    }
  }
  
/* About Me */
#personalDescription {
  text-align: center;
}

.sectionTitle {
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}

.notfirstTitle {
  margin-top: 2rem;

}
.card-body{
  display: none;
}

.card {
  border: none !important;
}
.card-title {
  text-align: center;
  margin-bottom: 0 !important;
}

.card-img-top:hover + .card-body {
  display: block;
}

  /* COMPONENTS */
  /* Navbar */
  /* .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 1rem;
    z-index: 2; 
  }
   */
  /* Footer */
  .footer {
    margin-top: auto;
    margin-bottom: 2rem;
  }
  
  .footer p {
    text-align: center;
    font-weight: 600;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    margin: 1vh 0 0 0;
  }
  